body{
	background: white;
	font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
}

h1{
	size: 40px;
	background-color: #0070ba;
	color: white;
	font-family: PayPalSansBig-Light,Helvetica Neue,Arial,sans-serif;
	padding: 3%;
	text-align: center;
}

h3{
	size: 20px;
	color: cornflowerblue;
}

input{
	width: 250px;
	padding: 12px 4px;
	margin: 4px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
form{
	text-align: center;
}

button{
	background-color: #0070ba;
	border-radius: 1.5rem;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: PayPal-Sans,Helvetica Neue,Arial,sans-serif;
	font-size: .9375rem;
	line-height: 1.5rem;
	margin-bottom: 1.5rem;
	min-width: 6rem;
	padding: .6875rem 1.4375rem;
	text-align: center;
	text-decoration: none;
	transition: color 240ms,background-color 240ms,border-color 240ms,box-shadow 240ms;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
}

button:hover{
	background-color: #003f69;
	color: #fff;
}

button:disabled{
	background-color: #587f95;
}

button:disabled:hover{
	background-color: #587f95;
}

p{
	text-align: center;
}
.error{
	color: red;
}

#positive_trans{
	color: green;
}

#negative_trans{
	color: red;
}

.currentBalance{
	height: 40px;
	width: auto;
	background-color: rgb(230, 230, 230);
	color: rgb(54, 90, 149);
	font-size: 24px;
	border-radius: 10px;
	text-align: center;
}

.header_buttons{
	width: 100%;
	background: #0070ba;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 20% 60% 20%;
	grid-template-areas:
			"logout title buttons";
}

.title{
	grid-area: title;
}

.buttons{
	grid-area: buttons;
	align-self: center;
	color: white;
}

.logout{
	grid-area: logout;
	align-self: center;
	color: white;
}

.white_button{
	background-color: #ffffff;
	color: #0070ba;
	margin: 3%;
}

.profile-pic{
	width:70px;
	height:70px;
	border: solid white 2px;
	border-radius: 35px;
	padding: 0;
}

