body{
	background: white;
	font-family: pp-sans-small-regular,Helvetica Neue,Arial,sans-serif;
}

h1{
	size: 40px;
	background-color: rgb(54, 90, 149);
	color: white;
	font-family: pp-sans-big-light,Helvetica Neue,Arial,sans-serif;
}

h3{
	size: 20px;
	color: cornflowerblue;
}

.error{
	color: red;
}

#positive_trans{
	color: green;
}

#negative_trans{
	color: red;
}

.currentBalance{
	height: 40px;
	width: auto;
	background-color: rgb(230, 230, 230);
	color: rgb(54, 90, 149);
	font-size: 24px;
	border-radius: 10px;
	text-align: center;
}