body{
	background: white;
}

h1{
	size: 40px;
	background-color: rgb(54, 90, 149);
	color: white;
	font-family: Castellar, serif;
}

h3{
	size: 20px;
	color: cornflowerblue;
}

#positive_trans{
	color: green;
}

#negative_trans{
	color: red;
}