{% extends "base.twig" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    <form action="/logout" method="POST" accept-charset="utf-8">
        <button type="submit">Log out</button>
    </form>
    <br>
    <form action="/" method="GET" accept-charset="utf-8">
        <button type="submit">Home</button>
    </form>
    <br>
    <form action="/profile" method="GET" accept-charset="utf-8">
        <input type="image" src="{{ photo }}" alt="Profile picture" height="170" width="170">
    </form>

    <form action="/account/bank-account" method="GET" accept-charset="utf-8">
        <button type="submit">Bank account</button>
    </form>

    <form action="/account/summary" method="GET" accept-charset="utf-8">
        <h3>Current balance</h3>
        <input type="number" src="{{ wallet }}" alt="Current balance">

        <h3>Last transactions</h3>
        <input list="transactions">
        <datalist>
            <option value="20" id="positive_trans"> //Primera transacció els 20 que et fiquen al loggejarte, nomes per veure que funciona
        </datalist>

        <form action="/account/money/send" method="GET" accept-charset="utf-8">
            <button type="submit">Send money</button>
        </form>

        <form action="/account/money/request" method="GET" accept-charset="utf-8">
            <button type="submit">Request money</button>
        </form>
    </form>

{% endblock %}