{% extends "base.twig" %}

{% block title %}{% endblock %}

{% block content %}
    <div class="header_buttons">
        <div class="title">
            <h1>{% block header %}{% endblock %}</h1>
        </div>

        <div class="buttons">
            <form action="{% block opposite_action %}{% endblock %}" method="GET" accept-charset="utf-8">
                <button class="white_button" type="submit">{% block opposite_button %}{% endblock %}</button>
            </form>
        </div>
    </div>

    <p>{% block info %}{%  endblock %}</p>
    <form {% block form_header %}{% endblock %}>
        <input type="email" name="email" value="{{ email }}" placeholder="Enter your email" required>
        <br>
        <input type="password" name="password" value="{{ password }}" placeholder="Enter your password" required>
        <br>
        <input type="hidden" name="action" value={% block type %}{% endblock %}>
        {% block other %}{% endblock %}
        <button type="submit">{% block button %}{% endblock %}</button>
    </form>

{% endblock %}