{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block header %}Home page{% endblock %}

{% block form_header %}action="./" method="GET" accept-charset="utf-8"{% endblock %}

{% block content %}
    <h1>Welcome to PwPay!</h1>
    
    {% if user is empty %}
        <ol>
            <form action="/sign-in" method="GET" accept-charset="utf-8">
                <button type="submit">Sign In</button>
            </form>
            <form action="/sign-up" method="GET" accept-charset="utf-8">
                <button type="submit">Sign Up</button>
            </form>
        </ol>
    {% else %}
        <input type="text" src="{{ email }}" alt="User email">
        <input type="image" src="{{ photo }}" alt="Profile picture" height="170" width="170">
    {% endif %}
{% endblock %}

{% block footer %}PW II - La Salle URL{% endblock %}