{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block header %}Home page{% endblock %}

{% block form_header %}action="./" method="GET" accept-charset="utf-8"{% endblock %}

{% block content %}
    <h1>Welcome to PwPay!</h1>
    <form action="/sig-in" method="POST" accept-charset="utf-8">
        <button type="submit">Sign In</button>
    </form>
    <form action="/sign-up" method="POST" accept-charset="utf-8">
        <button type="submit">Sign Up</button>
    </form>

    {% if notifications is not empty %}
        <ol>
            {% for notification in notifications %}
                <li>{{ notification }}</li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}

{% block footer %}Home page{% endblock %}




