{% extends "base.twig" %}

{% block title %}PwPay - Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/styles.css"/>
{% endblock %}

{% block header %} Home page {% endblock %}



{% block content %}

    <div class="header_buttons">
        <div class="logout">
            <form action="/logout" method="POST" accept-charset="utf-8">
                <button class="white_button" type="submit">Log out</button>
            </form>
        </div>

        <div class="title">
            <h1>Welcome to PwPay!</h1>
        </div>

        <div class="buttons">
            {% if user is empty %}
                    <form action="/sign-in" method="GET" accept-charset="utf-8">
                        <button class="white_button" type="submit">Sign In</button>
                    </form>
                    <form action="/sign-up" method="GET" accept-charset="utf-8">
                        <button class="white_button" type="submit">Sign Up</button>
                    </form>
            {% else %}
                <p>{{ email }}</p>
                <form action="/profile" method="GET" accept-charset="utf-8">
                    <input type="image" class="profile-pic" src="{{ photo }}" alt="Profile picture">
                </form>
            {% endif %}
        </div>
    </div>

    <div class="nav-menu">
        <a class="active" href="/">Home</a>
        <a href="/account/summary">Dashboard</a>
        <a href="/account/bank-account">Bank account</a>
        <a href="/account/transactions">Transactions</a>
        <a href="/account/money/requests/pending">Pending requests</a>
    </div>

    <div class="description">
        <p>Descubre PwPay, una forma fácil y segura de enviar y recibir pagos, y de transferir dinero online a amigos o familiares.</p>
    </div>

    <br>
    <div class="crop">
        <img src="https://image.shutterstock.com/image-vector/people-sending-receiving-money-wireless-260nw-465600824.jpg" >
    </div>

    {% block footer %}
        <div class="footer">
            <br>
            <img src="https://pbs.twimg.com/profile_images/908013780856135680/1qCImmj2_400x400.jpg" width="50" height="50" align="center">
            <div>
                <ul>
                    <li>© 2020 </li>
                    <br>
                    <li>La Salle URL </li>
                    <br>
                    <li>Projectes Web II </li>
                </ul>
        </div>

    {% endblock %}
{% endblock %}