{% extends "base.twig" %}

{% block title %}Home page{% endblock %}

{% block header %}Home page{% endblock %}

{% block content %}

    <h1>Welcome to PwPay!</h1>
    
    {% if user is empty %}
        <ol>
            <form action="/sign-in" method="GET" accept-charset="utf-8">
                <button type="submit">Sign In</button>
            </form>
            <form action="/sign-up" method="GET" accept-charset="utf-8">
                <button type="submit">Sign Up</button>
            </form>
        </ol>
    {% else %}
    <p>{{ email }}</p>
        <form action="/profile" method="GET" accept-charset="utf-8">
            <input type="image" src="{{ photo }}" alt="Profile picture" height="170" width="170">
        </form>
    {% endif %}
{% endblock %}

{% block footer %}PW II - La Salle URL{% endblock %}