{% extends "base.twig" %}

{% block title %}PwPay - Pending Requests{% endblock %}

{% block content %}
    <div class="header_buttons">
        <div class="title">
            <h1>Pending Requests</h1>
        </div>

        <div class="buttons">
            <form action="/" method="GET" accept-charset="utf-8">
                <button class="white_button" type="submit">Home</button>
            </form>
        </div>
    </div>
    <br>

    {% if pending is not empty %}
        <table class="table_pending">
            <tr class="tr_pen">
                <td><label for="sender">Sender</label></td>
                <td><label for="quantity">Quantity</label></td>
                <td></td>
            </tr>
            {% for item in pending %}
                <tr class="tr_pen">
                    <td><p>{{ item.email_sender }}</p></td>
                    <td><p for="quantity">{{ item.quantity }} €</p></td>
                    <form action="/account/money/requests/{{ item.id }}/accept" method="POST" accept-charset="utf-8">
                        <td><button class="small_button" type="submit">Pay</button></td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No pending requests</p>
    {% endif %}

{% endblock %}