{% extends "base.twig" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

    <h1>Edit Profile</h1>
    <form enctype="multipart/form-data" action="/profile" method="POST" accept-charset="utf-8">
        <label for="email">Email </label>
        <input type="email" id="email" name="mail" value="{{ email }}" placeholder="Enter your email" disabled><br>
        <label for="birthday">Birthday </label>
        <input type="date" id="birthday" name="birthday" value="{{ birthday }}" disabled><br>
        <label for="phone">Phone </label>
        <input type="tel" id="phone" name="phone" placeholder="+34" pattern="[+]{1}[34]{2}[0-9]{3}[0-9]{3}[0-9]{3}"><br>
        <label for="output">Change profile picture </label><br>
        <input type="file" name="photo" accept="image/png" onchange="loadFile()"><br>
        <img id="output" name="image" width="400" height="400" src="{{ photo }}"/>
        <script>
            var loadFile = function() {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function() {
                    URL.revokeObjectURL(output.src);
                }
            };
        </script>
    {% if errors is not empty %}
        <ol>
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </ol>
    {% endif %}
        <br>
        <button type="submit">Edit</button>
    </form>
    <form action="/profile/security" method="GET" accept-charset="utf-8">
        <button type="submit">Change Password</button>
    </form>
{% endblock %}

