{% extends "base.twig" %}

{% block title %}Edit Profile{% endblock %}

{% block header %}Edit Profile{% endblock %}

{% block form_header %}action="./profile/security" method="POST" accept-charset="utf-8"{% endblock %}
{% block type %}up{% endblock %}

{% block content %}

    <input type="password" name="passwordold" value="" placeholder="Enter old password" required>
    <input type="password" name="passwordnew" value="" placeholder="Enter new password" required>
    <input type="password" name="passwordnew" value="" placeholder="confirm password" required>


    <form action="/profile/security" method="POST" accept-charset="utf-8">
        <button type="submit">Change Password</button>
    </form>
    {% if errors is not empty %}
        <ol>
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </ol>
    {% endif %}
    <form action="/profile" method="GET" accept-charset="utf-8">
        <button type="submit">Back to Profile</button>
    </form>
{% endblock %}

