{% extends "base.twig" %}


{% block title %}PwPay - Change Password{% endblock %}

{% block type %}up{% endblock %}

{% block content %}

    <h1>Change Password</h1>
    <form action="/profile/security" method="POST" accept-charset="utf-8">
        <table>
            <tr>
                <td><label style="font-family:Arial" for="current">Current password</label></td>
                <td><input type="password" id="current" name="passwordold" value="" placeholder="Enter old password" required></td>
            </tr>
            <tr>
                <td><label style="font-family:Arial" for="id">New password</label></td>
                <td><input type="password" id="new" name="passwordnew" value="" placeholder="Enter new password" required></td>
            </tr>
            <tr>
                <td><label style="font-family:Arial" for="confirm">Confirm password</label></td>
                <td><input type="password" id="confirm" name="checkpass" value="" placeholder="Confirm password" required></td>
            </tr>
        </table>
        <button type="submit">Change Password</button>
        <br>
    {% if errors is not empty %}
        <ol>
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </ol>
    {% endif %}
    </form>
    <form action="/profile" method="GET" accept-charset="utf-8">
        <button type="submit">Back to Profile</button>
    </form>
{% endblock %}

