{% extends "base.twig" %}

{% block title %}Send Money{% endblock %}

{% block content %}

    <div class="header_buttons">
        <div class="title">
            <h1>Send money</h1>
        </div>

        <div class="buttons">
            <form action="/" method="GET" accept-charset="utf-8">
                <button class="white_button" type="submit">Home</button>
            </form>
        </div>
    </div>

    <form action="/account/money/send" method="POST" accept-charset="utf-8">
        {% if url is not empty %}
            <meta http-equiv="refresh" content="2;url={{ url }}">
        {% endif %}
        <table>
            <tr>
                <td><label style="font-family:Arial" for="email">Send money to</label></td>
                <td><input type="email" id="email" name="email" value="{{ email }}" placeholder="Enter the email"></td>
            </tr>
            <tr>
                <td><label style="font-family:Arial" for="birthday">Amount </label></td>
                <td><input type="number" id="number" name="amount" placeholder="€" value="{{ amount }}" ></td>
            </tr>
        </table>
        {% if errors is not empty %}
            <ol>
                {% for error in errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </ol>
        {% endif %}
        <br>
        <button type="submit" style="margin-left: 157px;">Send</button>
    </form>
{% endblock %}

