{% extends "form.twig" %}

{% block title %}Sign in{% endblock %}

{% block header %}Sign in{% endblock %}

{% block form_header %}action="/sign-in" method="POST" accept-charset="utf-8"{% endblock %}

{% block opposite_action%}/sign-up{% endblock %}
{% block opposite_button%}Sign up{% endblock %}

{% block type %}in{% endblock %}

{% block other %}
    {% if errors is not empty %}
        <ol>
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}

{% block button %}Sign in{% endblock %}


