{% extends "form.twig" %}

{% block title %}Sign up{% endblock %}

{% block header %}Sign Up{% endblock %}

{% block form_header %}action="./sign-up" method="POST" accept-charset="utf-8"{% endblock %}
{% block type %}up{% endblock %}

{% block other %}

<input type="date" name="birthday" value="{{ birthday }}" required>
<input type="tel" id="phone" name="phone" placeholder="+34" pattern="[+]{1}[34]{2}[0-9]{3}[0-9]{3}[0-9]{3}" value="{{ phone }}">

    {% if errors is not empty %}
        <ol>
            {% for error in errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </ol>
    {% endif %}

{% endblock %}
{% block button %}Sign Up{% endblock %}

