{% extends "base.twig" %}

{% block title %}PwPay - Validation{% endblock %}

{% block content %}
    <h1>Validation</h1>

    <form action="/sign-in" method="GET" accept-charset="utf-8">
        {% if errors is not empty %}
            <ol>
                {% for error in errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            </ol>
        {% endif %}

        {% block other %}{% endblock %}
        <button type="submit">Sign in</button>
    </form>

{% endblock %}